#header {
    margin-bottom: 0% !important;
} 

.container {
    margin: 0% !important;
    padding: 0% !important;
}

#sidebar-div {
    padding: 0% !important;
}

#sidebar {
    background-color: #dad7cd !important;
    width: 70% !important;
    height: 100% !important;
}

#sidebar div {
    height: 100vh !important;
}

#history-title {
    margin-top: 10%;
    color: #495057
}

table {
    /* width: 850px !important; */
    margin-bottom: 5% !important;
    color: #495057 !important;
}

.table {
    margin-top: 3%;
}

.row {
    margin-bottom: 0%;
}

.menu {
    color: #212529;
}

#history {
    margin-top: 10%;
}

tr.hide-table-padding td {
    padding: 0;
  }
  
  .expand-button {
      position: relative;
  }
  
  .accordion-toggle .expand-button:after
  {
    position: absolute;
    left:.75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
  }
  .accordion-toggle.collapsed .expand-button:after
  {
    content: '+';
  }

  .article-content {
    height: 500px;
    overflow-y: scroll;
  }