#header, #header-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-input-area {
    display: none;
}
#header-button {
    width: 200px
}

#user, #search {
    width: 75px;
    height: 30px;
}

#search-input-area {
    display: none;
}

.search-input {
    width: 300px;
}

#search-button {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#main, #main-result, #index, #nav{
    display: flex;
    justify-content: space-around;
}

#main ,#main-result{
    margin-top: 50px;
}
#single-source, #single-target {
    margin-bottom: 2%;
}
#article-A-content, #article-B-content, #result-A-content, #result-B-content {
    height: 600px;
    width: 500px;
}
#submit {
    height: 30px;
    width: 100px;
}
#finish, #multiple-finish {
    margin-top: 50px;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}
.multiple-article-area, #article-1-content {
    width: 800px;
    margin-bottom: 30px;
}
#article-1-content {
    height: 300px;
}
.multiple-article-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top,#main-result, #nav, #drop_zone, #multiple-finish{
    display: none;
}
#main-result {
    margin-bottom: 3%;
}
.border{
    padding: 6px 12px;
}
#similarity {
    font-size: large;
}
#progress-bar {
    height: 20px;
    width: 500px;
}
.comparison {
    width: 300px;
    height: 400px;
    font-size: large;
}
.paste, .upload {
    height: 50px;
    width: 500px;
}

#multiple, #upload-article-area {
    margin-left: 3%;
    display: none;
}

#upload-finish {
    margin-bottom: 3%;
}

.multiple-arthor, .multiple-title {
    width:800px
}
.article, #upload-content {
    width: 800px;
    height: 400px;
}

#upload-article-area{
    display: none;
}