#top, #main, #index, #nav{
    display: flex;
    justify-content: space-around;
}
#article-A, #article-B, #result-A, #result-B {
    height: 800px;
    width: 500px;
}
#submit {
    height: 30px;
    width: 100px;
}
#finish, #multiple-finish {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
#result, #top, #main, #finish, #nav, #drop_zone, #multiple-finish{
    display: none;
}
#similarity {
    font-size: large;
}
#progress-bar {
    height: 20px;
    width: 500px;
}
.comparison {
    width: 300px;
    height: 400px;
    font-size: large;
}
.paste, .upload {
    height: 50px;
    width: 500px;
}

#multiple {
    display: none;
}
.article, #upload-content {
    width: 800px;
    height: 400px;
}

#upload-article-area{
    display: none;
}