<header id="header" class="shadow p-3 mb-5 bg-white rounded">

    <ul class="nav justify-content-start">
        <li class="nav-item">
          <a href="/"><img src="../images/ChamELEONS-2_400x174.png" id="main-logo"></a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <div class="input-group rounded">
                <input type="search" id="article-search" class="form-control rounded" placeholder="搜尋文章" aria-label="Search" aria-describedby="search-addon"/>
                <span class="input-group-text border-0" id="search-addon" >
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="upload-compare-link" href="/upload">上傳文章</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="multiple-compare-link" href="/multiple">多篇文章比對</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="single-compare-link" href="/single">單篇文章比對</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="signup-signin-link" href="/login">註冊｜登入</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="member-link" href="/user">會員</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="logout-link" href="/">登出</a>
        </li>

    </ul>
</header>